* {
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 96px;
    background-color: #5300c8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    box-shadow: #000000 25%;
}

.main-container {
    width: 1380px;
    height: 1235px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    padding: 60px 40px;
}

.main-container>section {
    width: Hug (758px)px;
    height: Fill (1, 115px)px;
    padding: 40px 0px 0px 0px;
    gap: 40px;
    opacity: 0px;
    padding-left: 200px;
}

h1.title {
    width: 578px;
    height: 24px;
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    color: #000000;
    font-family: "Press Start 2P", system-ui;
}

.products-container {
    width: Hug (678px)px;
    height: Hug (971px)px;
    padding: 15px 0px 0px 0px;
    gap: 115px;
    opacity: 0px;
    color: #ffffff;
    box-shadow: -12px 10px 5.8px 0px #00000040;
    margin-top: 30px;
}

.card {
    width: 196px;
    height: 258px;
    background-color: #5d04d9;
    padding: 10px;
    gap: 10px;
    border-radius: 10px;
    border: 3px solid #000000;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.img-container {
    width: 176px;
    height: 174px;
    gap: 8px;
    border-radius: 10px;
    border: 3px solid #000000;
    opacity: 0px;
}

.img-container img {
    border-radius: 5px;
    border: 3px solid #000000;
}

.card-container--info {
    width: 176px;
    height: 20px;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    color: #ffffff;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    line-height: 19.5px;
}

.card-container--value {
    width: 142px;
    height: 21px;
    display: flex;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 700;
    font-size: 16px;
    line-height: 20.8px;
    color: #ffffff;
    gap: 80px;
}

.card-container--value .delete-button {
    cursor: pointer;
}

.card-container--value img {
    width: 20px;
    height: 20px;
    top: 2px;
    left: 154px;
    color: #ffffff;
}

/*Formulario*/
.form_container {
    width: Fixed (472px)px;
    height: Hug (517px)px;
    padding: 40px;
    gap: 40px;
    display: flex;
    flex-direction: column;
}

.form_container input {
    width: 495px;
    height: 58px;
    border: 3px solid #03318c;
    border-radius: 30px;
    padding: 12px 15px;
    font-size: 1rem;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 600;
    font-size: 16px;
    line-height: 20.8px;
}

.form_container input placeholder {
    color: #03318c;
}

.buttom-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 13px;
}

.buttom-container .btn {
    border-radius: 15px;
    padding: 15px 30px;
    border: solid 3px rgb(3, 49, 140);
    cursor: pointer;
    font-family: "IBM Plex Mono", monospace;
    font-size: 20px;
}

.button-submit {
    background-color: rgb(3, 49, 140);
    color: #fff;
    transition: .3s;
}

.button-submit:hover {
    background-color: #fff;
    color: rgb(3, 49, 140);
}

.button-clear {
    color: rgb(3, 49, 140);
    transition: .3s;
}

.button-clear:hover {
    background-color: rgb(3, 49, 140);
    color: #fff;
}

.footer-container {
    width: 100%;
    height: 100%;
    background-color: #5300c8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 64px;
}

footer section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #fff;
    gap: 10px;
    font-family: "IBM Plex Mono", monospace;
    font-size: 16px;
    line-height: 16px;
}

footer section h2 {
    font-weight: 400;
}

footer section p {
    font-weight: 200;
}